#grey{
    background-color:grey;
    margin:50px;
    padding:30px;
    border:1px solid black;
}
#white{
    background-color:white;
    margin:50px;
    padding:30px;
    border:1px solid black;
}
#blue{
    background-color:blue;
    margin:50px;
    padding:30px;
    border:1px solid black;
}
#yellow{
    background-color:yellow;
    margin:50px;
    padding:30px;
    border:1px solid black;
}